In [1]:
import numpy as np
import pandas as pd

In [2]:
img_features = pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/HumanObserved-Features-Data.csv", index_col=0)#, index_col="img_id")

writer = pd.Series([ elm[:4] for elm in img_features["img_id"]])
page_num = pd.Series([ elm[4] for elm in img_features["img_id"]])

img_features["writer"] = writer
img_features["page_num"] = page_num
img_features

     img_id  f1  f2  f3  f4  f5  f6  f7  f8  f9 writer page_num
0     0359a   2   1   1   0   2   2   0   2   2   0359        a
1     0577a   2   1   1   0   2   2   0   1   2   0577        a
2     1120a   2   1   1   3   2   2   0   2   2   1120        a
3     1120b   1   1   1   0   2   2   0   2   2   1120        b
4     1120c   2   1   1   0   2   2   0   0   2   1120        c
5     1121a   2   1   1   3   2   2   0   1   2   1121        a
6     1121b   2   1   1   0   2   2   0   3   2   1121        b
7     1121c   1   1   1   0   2   2   0   1   2   1121        c
8     1229b   1   1   1   3   2   2   0   2   2   1229        b
9     1302a   2   1   1   3   2   2   0   0   2   1302        a
10    1302b   3   1   1   0   2   2   0   2   2   1302        b
11    1302c   2   1   1   3   2   2   0   3   2   1302        c
12    1305a   1   1   1   0   2   2   0   0   2   1305        a
13    1305b   2   1   1   0   2   2   1   2   2   1305        b
14    1305c   1   1   1   3   2   2   0   1   2   1305        c
15    1386a   1   1   1   0   2   2   0   3   2   1386        a
16    1386b   3   1   1   0   2   2   0   1   2   1386        b
17    1386c   3   1   1   3   2   2   0   2   2   1386        c
18    1391c   2   1   1   0   2   2   1   1   2   1391        c
19    1489a   1   1   1   3   2   2   0   0   2   1489        a
20    1489b   2   1   1   3   2   2   1   2   2   1489        b
21    1517a   2   1   1   1   2   2   0   2   2   1517        a
22    1517b   1   1   1   3   2   2   0   3   2   1517        b
23    0331b   3   1   1   0   2   2   0   0   2   0331        b
24    0367a   2   1   1   0   2   2   0   4   2   0367        a
25    0367b   1   1   1   0   2   2   1   2   2   0367        b
26    0367c   3   1   1   3   2   2   0   1   2   0367        c
27    0379b   3   1   1   0   2   2   0   3   2   0379        b
28    0458a   2   1   1   0   2   2   1   0   2   0458        a
29    0565a   2   1   1   3   2   2   1   1   2   0565        a
...     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...      ...
996   0594b   0   0   0   3   2   0   0   3   2   0594        b
997   0594c   0   4   2   4   2   2   0   3   2   0594        c
998   1271b   3   4   2   2   0   2   1   3   2   1271        b
999   1271c   0   1   2   4   2   2   2   2   2   1271        c
1000  0354c   1   0   0   1   0   1   3   2   2   0354        c
1001  1091a   3   1   2   4   2   2   3   4   2   1091        a
1002  0556b   0   2   0   1   0   2   1   1   1   0556        b
1003  0556c   0   1   0   1   0   3   1   0   1   0556        c
1004  0387a   0   1   0   2   0   1   2   2   2   0387        a
1005  1414b   0   4   0   0   0   1   1   1   1   1414        b
1006  1414c   1   0   1   1   3   1   1   2   1   1414        c
1007  0365c   0   4   0   3   0   1   1   2   1   0365        c
1008  0403a   2   0   2   1   0   1   0   1   1   0403        a
1009  1103a   3   2   0   1   0   1   1   2   1   1103        a
1010  0375b   1   3   0   1   0   2   0   2   1   0375        b
1011  0323a   3   4   2   4   2   2   3   2   2   0323        a
1012  0323b   3   0   0   1   0   3   1   1   1   0323        b
1013  0597a   3   4   2   0   2   3   3   1   1   0597        a
1014  1440b   0   4   0   2   0   2   0   4   1   1440        b
1015  0376b   1   2   0   2   0   1   1   1   1   0376        b
1016  0366b   3   1   2   4   3   2   0   2   2   0366        b
1017  0434a   3   0   0   2   0   3   3   0   2   0434        a
1018  0555a   1   4   0   2   0   2   3   4   1   0555        a
1019  1165c   3   0   2   4   0   2   3   2   2   1165        c
1020  0380b   1   3   2   3   3   2   0   2   2   0380        b
1021  1083a   0   4   2   4   2   3   1   1   1   1083        a
1022  1125b   1   1   2   4   3   2   1   2   1   1125        b
1023  0416a   1   1   2   4   3   2   1   1   1   0416        a
1024  1224b   2   4   2   4   3   3   3   4   2   1224        b
1025  0302b   2   2   2   4   3   3   3   4   2   0302        b

[1026 rows x 12 columns]

In [3]:
# now we split the data into 80 10 and 10 %
# to do that first group all with same writer
# add writer and page_num columns to the data
unique_writers = img_features["writer"].unique()

random_writers = np.random.permutation(unique_writers)

a = int(len(random_writers) * 0.8)
b = a + int(len(random_writers) * 0.1)
c = b + int(len(random_writers) * 0.1)

training_writers = random_writers[:a+1]

print(training_writers.shape)#, training_writers)

training_set = [img_features[img_features["writer"] == idx ] for idx in training_writers]
training_set = pd.concat(training_set)
training_set

(370,)

    img_id  f1  f2  f3  f4  f5  f6  f7  f8  f9 writer page_num
170  1458a   0   1   1   3   2   2   1   1   2   1458        a
171  1458b   1   1   1   0   2   2   1   2   1   1458        b
172  1458c   1   4   1   3   2   2   0   0   2   1458        c
70   0321c   2   1   1   2   2   2   0   2   2   0321        c
407  0321a   2   1   1   3   2   1   1   2   1   0321        a
512  0321b   3   2   1   3   2   2   1   4   2   0321        b
504  1167a   0   2   1   0   2   2   0   4   2   1167        a
375  1444a   0   1   1   0   2   3   0   3   2   1444        a
587  1444b   1   0   1   1   2   2   0   0   1   1444        b
700  0344c   1   1   0   2   2   2   1   0   2   0344        c
758  0324b   0   1   1   3   0   2   1   1   1   0324        b
812  0324c   1   1   0   4   2   2   0   3   2   0324        c
926  0324a   0   2   1   0   1   2   1   3   2   0324        a
492  0515a   1   1   1   3   2   2   2   2   1   0515        a
787  1114a   2   1   1   3   0   2   2   0   1   1114        a
395  1563a   0   1   1   3   2   3   0   0   2   1563        a
600  0475a   0   1   1   2   2   2   1   4   2   0475        a
752  0950a   2   1   1   3   0   2   2   2   1   0950        a
753  0950b   1   0   1   3   0   1   0   3   2   0950        b
774  0938b   2   1   0   2   2   1   1   2   2   0938        b
620  1140c   2   4   1   2   2   1   0   1   2   1140        c
950  1140a   3   4   0   2   2   1   1   3   2   1140        a
951  1140b   0   0   1   3   0   1   1   2   1   1140        b
966  0455c   3   1   1   3   3   1   3   1   2   0455        c
104  1382c   2   2   1   0   2   2   0   1   2   1382        c
134  1382b   2   1   1   0   0   2   0   0   2   1382        b
218  1382a   2   0   1   0   2   2   1   3   2   1382        a
579  1546b   3   1   1   0   0   3   0   3   2   1546        b
580  1546c   3   0   1   0   2   1   1   3   2   1546        c
815  1546a   1   1   0   3   2   1   1   2   1   1546        a
..     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...      ...
648  0353c   1   2   1   1   2   3   0   1   2   0353        c
525  1253a   3   0   1   0   2   2   3   2   2   1253        a
767  1253b   0   1   1   1   2   1   1   1   1   1253        b
768  1253c   2   0   0   2   2   2   0   0   2   1253        c
734  0888c   0   1   1   0   0   2   1   1   1   0888        c
359  1296c   1   1   1   3   0   2   1   0   2   1296        c
313  1243a   1   0   1   3   2   2   1   3   2   1243        a
993  1312a   1   2   0   2   0   2   1   2   1   1312        a
863  1532a   0   2   1   0   2   1   1   1   1   1532        a
93   1487a   2   1   1   3   2   3   0   2   2   1487        a
760  1487c   3   1   1   3   0   1   0   0   1   1487        c
246  1134a   2   0   1   3   2   2   1   0   2   1134        a
298  1134b   3   4   1   1   2   2   0   2   2   1134        b
299  1134c   2   1   1   0   2   2   3   4   2   1134        c
907  1422a   3   4   0   3   0   2   1   3   2   1422        a
12   1305a   1   1   1   0   2   2   0   0   2   1305        a
13   1305b   2   1   1   0   2   2   1   2   2   1305        b
14   1305c   1   1   1   3   2   2   0   1   2   1305        c
71   0451a   2   1   1   0   2   1   0   0   2   0451        a
513  0451b   2   1   1   3   0   2   1   2   1   0451        b
514  0451c   1   0   1   1   2   2   0   2   1   0451        c
222  1521a   2   2   1   0   2   2   1   1   2   1521        a
481  1521c   0   1   1   2   2   2   1   0   2   1521        c
689  1521b   3   1   1   3   0   2   3   3   2   1521        b
459  1123c   3   4   1   3   2   2   1   4   2   1123        c
480  1123b   0   2   1   0   2   2   1   1   2   1123        b
987  1123a   2   1   2   1   0   1   1   2   1   1123        a
499  1450b   2   2   1   3   2   3   0   3   2   1450        b
582  1450a   3   1   1   3   2   2   2   1   1   1450        a
718  1450c   3   0   1   1   2   1   1   3   2   1450        c

[819 rows x 12 columns]

In [41]:
# for comb in comb_train_indices:
#     img_features[img_features["writer"] == comb[0]]

training_set = [ img_features[img_features["writer"] == idx ] for idx in training_writers ]
training_set = pd.concat(training_set)
# training_set #, validation_set, testing_set)

training_set = training_set.assign(key=1).merge(training_set.assign(key=1), on="key", suffixes=["_A", "_B"]).drop("key", axis=1)

training_set = training_set.drop(["writer_A", "writer_B", "page_num_A", "page_num_B"], axis=1)

training_set = training_set[training_set["img_id_A"] != training_set["img_id_B"]]
# use meshgrid to get all permutations and remove equal writers from frames

# # validation_set = [ img_features[img_features["writer"] == idx ] for idx in validation_writers ]
# # validation_set = pd.concat(validation_set)

# # testing_set = [ img_features[img_features["writer"] == idx ] for idx in testing_writers ]
# # testing_set = pd.concat(testing_set)

In [42]:
training_set

,img_id_A,f1_A,f2_A,f3_A,f4_A,f5_A,f6_A,f7_A,f8_A,f9_A,img_id_B,f1_B,f2_B,f3_B,f4_B,f5_B,f6_B,f7_B,f8_B,f9_B
1,1458a,0,1,1,3,2,2,1,1,2,1458b,1,1,1,0,2,2,1,2,1
2,1458a,0,1,1,3,2,2,1,1,2,1458c,1,4,1,3,2,2,0,0,2
3,1458a,0,1,1,3,2,2,1,1,2,0321c,2,1,1,2,2,2,0,2,2
4,1458a,0,1,1,3,2,2,1,1,2,0321a,2,1,1,3,2,1,1,2,1
5,1458a,0,1,1,3,2,2,1,1,2,0321b,3,2,1,3,2,2,1,4,2
6,1458a,0,1,1,3,2,2,1,1,2,1167a,0,2,1,0,2,2,0,4,2
7,1458a,0,1,1,3,2,2,1,1,2,1444a,0,1,1,0,2,3,0,3,2
8,1458a,0,1,1,3,2,2,1,1,2,1444b,1,0,1,1,2,2,0,0,1
9,1458a,0,1,1,3,2,2,1,1,2,0344c,1,1,0,2,2,2,1,0,2
10,1458a,0,1,1,3,2,2,1,1,2,0324b,0,1,1,3,0,2,1,1,1
11,1458a,0,1,1,3,2,2,1,1,2,0324c,1,1,0,4,2,2,0,3,2
12,1458a,0,1,1,3,2,2,1,1,2,0324a,0,2,1,0,1,2,1,3,2
13,1458a,0,1,1,3,2,2,1,1,2,0515a,1,1,1,3,2,2,2,2,1
14,1458a,0,1,1,3,2,2,1,1,2,1114a,2,1,1,3,0,2,2,0,1
15,1458a,0,1,1,3,2,2,1,1,2,1563a,0,1,1,3,2,3,0,0,2
16,1458a,0,1,1,3,2,2,1,1,2,0475a,0,1,1,2,2,2,1,4,2
17,1458a,0,1,1,3,2,2,1,1,2,0950a,2,1,1,3,0,2,2,2,1
18,1458a,0,1,1,3,2,2,1,1,2,0950b,1,0,1,3,0,1,0,3,2
19,1458a,0,1,1,3,2,2,1,1,2,0938b,2,1,0,2,2,1,1,2,2
20,1458a,0,1,1,3,2,2,1,1,2,1140c,2,4,1,2,2,1,0,1,2
21,1458a,0,1,1,3,2,2,1,1,2,1140a,3,4,0,2,2,1,1,3,2
22,1458a,0,1,1,3,2,2,1,1,2,1140b,0,0,1,3,0,1,1,2,1
23,1458a,0,1,1,3,2,2,1,1,2,0455c,3,1,1,3,3,1,3,1,2
24,1458a,0,1,1,3,2,2,1,1,2,1382c,2,2,1,0,2,2,0,1,2
25,1458a,0,1,1,3,2,2,1,1,2,1382b,2,1,1,0,0,2,0,0,2
26,1458a,0,1,1,3,2,2,1,1,2,1382a,2,0,1,0,2,2,1,3,2
27,1458a,0,1,1,3,2,2,1,1,2,1546b,3,1,1,0,0,3,0,3,2
28,1458a,0,1,1,3,2,2,1,1,2,1546c,3,0,1,0,2,1,1,3,2
29,1458a,0,1,1,3,2,2,1,1,2,1546a,1,1,0,3,2,1,1,2,1
30,1458a,0,1,1,3,2,2,1,1,2,1489a,1,1,1,3,2,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670730,1450c,3,0,1,1,2,1,1,3,2,0353b,2,1,1,1,2,1,1,2,1
670731,1450c,3,0,1,1,2,1,1,3,2,0353c,1,2,1,1,2,3,0,1,2
670732,1450c,3,0,1,1,2,1,1,3,2,1253a,3,0,1,0,2,2,3,2,2
670733,1450c,3,0,1,1,2,1,1,3,2,1253b,0,1,1,1,2,1,1,1,1
670734,1450c,3,0,1,1,2,1,1,3,2,1253c,2,0,0,2,2,2,0,0,2
670735,1450c,3,0,1,1,2,1,1,3,2,0888c,0,1,1,0,0,2,1,1,1
670736,1450c,3,0,1,1,2,1,1,3,2,1296c,1,1,1,3,0,2,1,0,2
670737,1450c,3,0,1,1,2,1,1,3,2,1243a,1,0,1,3,2,2,1,3,2
670738,1450c,3,0,1,1,2,1,1,3,2,1312a,1,2,0,2,0,2,1,2,1
670739,1450c,3,0,1,1,2,1,1,3,2,1532a,0,2,1,0,2,1,1,1,1
670740,1450c,3,0,1,1,2,1,1,3,2,1487a,2,1,1,3,2,3,0,2,2
670741,1450c,3,0,1,1,2,1,1,3,2,1487c,3,1,1,3,0,1,0,0,1
670742,1450c,3,0,1,1,2,1,1,3,2,1134a,2,0,1,3,2,2,1,0,2
670743,1450c,3,0,1,1,2,1,1,3,2,1134b,3,4,1,1,2,2,0,2,2
670744,1450c,3,0,1,1,2,1,1,3,2,1134c,2,1,1,0,2,2,3,4,2
670745,1450c,3,0,1,1,2,1,1,3,2,1422a,3,4,0,3,0,2,1,3,2
670746,1450c,3,0,1,1,2,1,1,3,2,1305a,1,1,1,0,2,2,0,0,2
670747,1450c,3,0,1,1,2,1,1,3,2,1305b,2,1,1,0,2,2,1,2,2
670748,1450c,3,0,1,1,2,1,1,3,2,1305c,1,1,1,3,2,2,0,1,2
670749,1450c,3,0,1,1,2,1,1,3,2,0451a,2,1,1,0,2,1,0,0,2
670750,1450c,3,0,1,1,2,1,1,3,2,0451b,2,1,1,3,0,2,1,2,1
670751,1450c,3,0,1,1,2,1,1,3,2,0451c,1,0,1,1,2,2,0,2,1
670752,1450c,3,0,1,1,2,1,1,3,2,1521a,2,2,1,0,2,2,1,1,2
670753,1450c,3,0,1,1,2,1,1,3,2,1521c,0,1,1,2,2,2,1,0,2
670754,1450c,3,0,1,1,2,1,1,3,2,1521b,3,1,1,3,0,2,3,3,2
670755,1450c,3,0,1,1,2,1,1,3,2,1123c,3,4,1,3,2,2,1,4,2
670756,1450c,3,0,1,1,2,1,1,3,2,1123b,0,2,1,0,2,2,1,1,2
670757,1450c,3,0,1,1,2,1,1,3,2,1123a,2,1,2,1,0,1,1,2,1
670758,1450c,3,0,1,1,2,1,1,3,2,1450b,2,2,1,3,2,3,0,3,2
670759,1450c,3,0,1,1,2,1,1,3,2,1450a,3,1,1,3,2,2,2,1,1

In [43]:
labeled_data = pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/diffn_pairs.csv")
labeled_data = pd.concat([labeled_data, pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/same_pairs.csv")])
labeled_data

    img_id_A img_id_B  target
0      0359a    0577a       0
1      0359a    1120a       0
2      0359a    1120b       0
3      0359a    1120c       0
4      0359a    1121a       0
5      0359a    1121b       0
6      0359a    1121c       0
7      0359a    1229b       0
8      0359a    1302a       0
9      0359a    1302b       0
10     0359a    1302c       0
11     0359a    1305a       0
12     0359a    1305b       0
13     0359a    1305c       0
14     0359a    1386a       0
15     0359a    1386b       0
16     0359a    1386c       0
17     0359a    1391c       0
18     0359a    1489a       0
19     0359a    1489b       0
20     0359a    1517a       0
21     0359a    1517b       0
22     0359a    0331b       0
23     0359a    0367a       0
24     0359a    0367b       0
25     0359a    0367c       0
26     0359a    0379b       0
27     0359a    0458a       0
28     0359a    0565a       0
29     0359a    0565b       0
..       ...      ...     ...
761    1363a    1363c       1
762    1500a    1500b       1
763    1271a    1271b       1
764    1271a    1271c       1
765    0469a    0469b       1
766    0469a    0469c       1
767    0469b    0469c       1
768    0873a    0873b       1
769    0431b    0431a       1
770    0460b    0460c       1
771    0347a    0347b       1
772    1140a    1140b       1
773    0375c    0375b       1
774    1406a    1406b       1
775    1406a    1406c       1
776    1406b    1406c       1
777    0911b    0911c       1
778    0401b    0401c       1
779    0376c    0376b       1
780    0317a    0317b       1
781    0317a    0317c       1
782    0317b    0317c       1
783    0387b    0387a       1
784    1198a    1198b       1
785    0549b    0549c       1
786    0594b    0594c       1
787    1271b    1271c       1
788    0556b    0556c       1
789    1414b    1414c       1
790    0323a    0323b       1

[293823 rows x 3 columns]