In [1]:
import numpy as np
import pandas as pd

In [2]:
img_features = pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/HumanObserved-Features-Data.csv", index_col=0)#, index_col="img_id")

# writer = pd.Series([ elm[:4] for elm in img_features["img_id"]])
# page_num = pd.Series([ elm[4] for elm in img_features["img_id"]])

# img_features["writer"] = writer
# img_features["page_num"] = page_num
img_features

     img_id  f1  f2  f3  f4  f5  f6  f7  f8  f9
0     0359a   2   1   1   0   2   2   0   2   2
1     0577a   2   1   1   0   2   2   0   1   2
2     1120a   2   1   1   3   2   2   0   2   2
3     1120b   1   1   1   0   2   2   0   2   2
4     1120c   2   1   1   0   2   2   0   0   2
5     1121a   2   1   1   3   2   2   0   1   2
6     1121b   2   1   1   0   2   2   0   3   2
7     1121c   1   1   1   0   2   2   0   1   2
8     1229b   1   1   1   3   2   2   0   2   2
9     1302a   2   1   1   3   2   2   0   0   2
10    1302b   3   1   1   0   2   2   0   2   2
11    1302c   2   1   1   3   2   2   0   3   2
12    1305a   1   1   1   0   2   2   0   0   2
13    1305b   2   1   1   0   2   2   1   2   2
14    1305c   1   1   1   3   2   2   0   1   2
15    1386a   1   1   1   0   2   2   0   3   2
16    1386b   3   1   1   0   2   2   0   1   2
17    1386c   3   1   1   3   2   2   0   2   2
18    1391c   2   1   1   0   2   2   1   1   2
19    1489a   1   1   1   3   2   2   0   0   2
20    1489b   2   1   1   3   2   2   1   2   2
21    1517a   2   1   1   1   2   2   0   2   2
22    1517b   1   1   1   3   2   2   0   3   2
23    0331b   3   1   1   0   2   2   0   0   2
24    0367a   2   1   1   0   2   2   0   4   2
25    0367b   1   1   1   0   2   2   1   2   2
26    0367c   3   1   1   3   2   2   0   1   2
27    0379b   3   1   1   0   2   2   0   3   2
28    0458a   2   1   1   0   2   2   1   0   2
29    0565a   2   1   1   3   2   2   1   1   2
...     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
996   0594b   0   0   0   3   2   0   0   3   2
997   0594c   0   4   2   4   2   2   0   3   2
998   1271b   3   4   2   2   0   2   1   3   2
999   1271c   0   1   2   4   2   2   2   2   2
1000  0354c   1   0   0   1   0   1   3   2   2
1001  1091a   3   1   2   4   2   2   3   4   2
1002  0556b   0   2   0   1   0   2   1   1   1
1003  0556c   0   1   0   1   0   3   1   0   1
1004  0387a   0   1   0   2   0   1   2   2   2
1005  1414b   0   4   0   0   0   1   1   1   1
1006  1414c   1   0   1   1   3   1   1   2   1
1007  0365c   0   4   0   3   0   1   1   2   1
1008  0403a   2   0   2   1   0   1   0   1   1
1009  1103a   3   2   0   1   0   1   1   2   1
1010  0375b   1   3   0   1   0   2   0   2   1
1011  0323a   3   4   2   4   2   2   3   2   2
1012  0323b   3   0   0   1   0   3   1   1   1
1013  0597a   3   4   2   0   2   3   3   1   1
1014  1440b   0   4   0   2   0   2   0   4   1
1015  0376b   1   2   0   2   0   1   1   1   1
1016  0366b   3   1   2   4   3   2   0   2   2
1017  0434a   3   0   0   2   0   3   3   0   2
1018  0555a   1   4   0   2   0   2   3   4   1
1019  1165c   3   0   2   4   0   2   3   2   2
1020  0380b   1   3   2   3   3   2   0   2   2
1021  1083a   0   4   2   4   2   3   1   1   1
1022  1125b   1   1   2   4   3   2   1   2   1
1023  0416a   1   1   2   4   3   2   1   1   1
1024  1224b   2   4   2   4   3   3   3   4   2
1025  0302b   2   2   2   4   3   3   3   4   2

[1026 rows x 10 columns]

In [3]:
img_features = img_features.assign(key=1).merge(img_features.assign(key=1), on="key", suffixes=["_A", "_B"]).drop("key", axis=1)

# img_features = img_features.drop(["writer_A", "writer_B", "page_num_A", "page_num_B"], axis=1)

img_features = img_features[img_features["img_id_A"] != img_features["img_id_B"]]

img_features

,img_id_A,f1_A,f2_A,f3_A,f4_A,f5_A,f6_A,f7_A,f8_A,f9_A,img_id_B,f1_B,f2_B,f3_B,f4_B,f5_B,f6_B,f7_B,f8_B,f9_B
1,0359a,2,1,1,0,2,2,0,2,2,0577a,2,1,1,0,2,2,0,1,2
2,0359a,2,1,1,0,2,2,0,2,2,1120a,2,1,1,3,2,2,0,2,2
3,0359a,2,1,1,0,2,2,0,2,2,1120b,1,1,1,0,2,2,0,2,2
4,0359a,2,1,1,0,2,2,0,2,2,1120c,2,1,1,0,2,2,0,0,2
5,0359a,2,1,1,0,2,2,0,2,2,1121a,2,1,1,3,2,2,0,1,2
6,0359a,2,1,1,0,2,2,0,2,2,1121b,2,1,1,0,2,2,0,3,2
7,0359a,2,1,1,0,2,2,0,2,2,1121c,1,1,1,0,2,2,0,1,2
8,0359a,2,1,1,0,2,2,0,2,2,1229b,1,1,1,3,2,2,0,2,2
9,0359a,2,1,1,0,2,2,0,2,2,1302a,2,1,1,3,2,2,0,0,2
10,0359a,2,1,1,0,2,2,0,2,2,1302b,3,1,1,0,2,2,0,2,2
11,0359a,2,1,1,0,2,2,0,2,2,1302c,2,1,1,3,2,2,0,3,2
12,0359a,2,1,1,0,2,2,0,2,2,1305a,1,1,1,0,2,2,0,0,2
13,0359a,2,1,1,0,2,2,0,2,2,1305b,2,1,1,0,2,2,1,2,2
14,0359a,2,1,1,0,2,2,0,2,2,1305c,1,1,1,3,2,2,0,1,2
15,0359a,2,1,1,0,2,2,0,2,2,1386a,1,1,1,0,2,2,0,3,2
16,0359a,2,1,1,0,2,2,0,2,2,1386b,3,1,1,0,2,2,0,1,2
17,0359a,2,1,1,0,2,2,0,2,2,1386c,3,1,1,3,2,2,0,2,2
18,0359a,2,1,1,0,2,2,0,2,2,1391c,2,1,1,0,2,2,1,1,2
19,0359a,2,1,1,0,2,2,0,2,2,1489a,1,1,1,3,2,2,0,0,2
20,0359a,2,1,1,0,2,2,0,2,2,1489b,2,1,1,3,2,2,1,2,2
21,0359a,2,1,1,0,2,2,0,2,2,1517a,2,1,1,1,2,2,0,2,2
22,0359a,2,1,1,0,2,2,0,2,2,1517b,1,1,1,3,2,2,0,3,2
23,0359a,2,1,1,0,2,2,0,2,2,0331b,3,1,1,0,2,2,0,0,2
24,0359a,2,1,1,0,2,2,0,2,2,0367a,2,1,1,0,2,2,0,4,2
25,0359a,2,1,1,0,2,2,0,2,2,0367b,1,1,1,0,2,2,1,2,2
26,0359a,2,1,1,0,2,2,0,2,2,0367c,3,1,1,3,2,2,0,1,2
27,0359a,2,1,1,0,2,2,0,2,2,0379b,3,1,1,0,2,2,0,3,2
28,0359a,2,1,1,0,2,2,0,2,2,0458a,2,1,1,0,2,2,1,0,2
29,0359a,2,1,1,0,2,2,0,2,2,0565a,2,1,1,3,2,2,1,1,2
30,0359a,2,1,1,0,2,2,0,2,2,0565b,2,1,1,0,2,2,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052645,0302b,2,2,2,4,3,3,3,4,2,1057b,1,0,0,2,0,2,1,0,1
1052646,0302b,2,2,2,4,3,3,3,4,2,0594b,0,0,0,3,2,0,0,3,2
1052647,0302b,2,2,2,4,3,3,3,4,2,0594c,0,4,2,4,2,2,0,3,2
1052648,0302b,2,2,2,4,3,3,3,4,2,1271b,3,4,2,2,0,2,1,3,2
1052649,0302b,2,2,2,4,3,3,3,4,2,1271c,0,1,2,4,2,2,2,2,2
1052650,0302b,2,2,2,4,3,3,3,4,2,0354c,1,0,0,1,0,1,3,2,2
1052651,0302b,2,2,2,4,3,3,3,4,2,1091a,3,1,2,4,2,2,3,4,2
1052652,0302b,2,2,2,4,3,3,3,4,2,0556b,0,2,0,1,0,2,1,1,1
1052653,0302b,2,2,2,4,3,3,3,4,2,0556c,0,1,0,1,0,3,1,0,1
1052654,0302b,2,2,2,4,3,3,3,4,2,0387a,0,1,0,2,0,1,2,2,2
1052655,0302b,2,2,2,4,3,3,3,4,2,1414b,0,4,0,0,0,1,1,1,1
1052656,0302b,2,2,2,4,3,3,3,4,2,1414c,1,0,1,1,3,1,1,2,1
1052657,0302b,2,2,2,4,3,3,3,4,2,0365c,0,4,0,3,0,1,1,2,1
1052658,0302b,2,2,2,4,3,3,3,4,2,0403a,2,0,2,1,0,1,0,1,1
1052659,0302b,2,2,2,4,3,3,3,4,2,1103a,3,2,0,1,0,1,1,2,1
1052660,0302b,2,2,2,4,3,3,3,4,2,0375b,1,3,0,1,0,2,0,2,1
1052661,0302b,2,2,2,4,3,3,3,4,2,0323a,3,4,2,4,2,2,3,2,2
1052662,0302b,2,2,2,4,3,3,3,4,2,0323b,3,0,0,1,0,3,1,1,1
1052663,0302b,2,2,2,4,3,3,3,4,2,0597a,3,4,2,0,2,3,3,1,1
1052664,0302b,2,2,2,4,3,3,3,4,2,1440b,0,4,0,2,0,2,0,4,1
1052665,0302b,2,2,2,4,3,3,3,4,2,0376b,1,2,0,2,0,1,1,1,1
1052666,0302b,2,2,2,4,3,3,3,4,2,0366b,3,1,2,4,3,2,0,2,2
1052667,0302b,2,2,2,4,3,3,3,4,2,0434a,3,0,0,2,0,3,3,0,2
1052668,0302b,2,2,2,4,3,3,3,4,2,0555a,1,4,0,2,0,2,3,4,1
1052669,0302b,2,2,2,4,3,3,3,4,2,1165c,3,0,2,4,0,2,3,2,2
1052670,0302b,2,2,2,4,3,3,3,4,2,0380b,1,3,2,3,3,2,0,2,2
1052671,0302b,2,2,2,4,3,3,3,4,2,1083a,0,4,2,4,2,3,1,1,1
1052672,0302b,2,2,2,4,3,3,3,4,2,1125b,1,1,2,4,3,2,1,2,1
1052673,0302b,2,2,2,4,3,3,3,4,2,0416a,1,1,2,4,3,2,1,1,1
1052674,0302b,2,2,2,4,3,3,3,4,2,1224b,2,4,2,4,3,3,3,4,2

In [4]:
pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/diffn_pairs.csv")

       img_id_A img_id_B  target
0         0359a    0577a       0
1         0359a    1120a       0
2         0359a    1120b       0
3         0359a    1120c       0
4         0359a    1121a       0
5         0359a    1121b       0
6         0359a    1121c       0
7         0359a    1229b       0
8         0359a    1302a       0
9         0359a    1302b       0
10        0359a    1302c       0
11        0359a    1305a       0
12        0359a    1305b       0
13        0359a    1305c       0
14        0359a    1386a       0
15        0359a    1386b       0
16        0359a    1386c       0
17        0359a    1391c       0
18        0359a    1489a       0
19        0359a    1489b       0
20        0359a    1517a       0
21        0359a    1517b       0
22        0359a    0331b       0
23        0359a    0367a       0
24        0359a    0367b       0
25        0359a    0367c       0
26        0359a    0379b       0
27        0359a    0458a       0
28        0359a    0565a       0
29        0359a    0565b       0
...         ...      ...     ...
293002    0434a    1224b       0
293003    0434a    0302b       0
293004    0555a    1165c       0
293005    0555a    0380b       0
293006    0555a    1083a       0
293007    0555a    1125b       0
293008    0555a    0416a       0
293009    0555a    1224b       0
293010    0555a    0302b       0
293011    1165c    0380b       0
293012    1165c    1083a       0
293013    1165c    1125b       0
293014    1165c    0416a       0
293015    1165c    1224b       0
293016    1165c    0302b       0
293017    0380b    1083a       0
293018    0380b    1125b       0
293019    0380b    0416a       0
293020    0380b    1224b       0
293021    0380b    0302b       0
293022    1083a    1125b       0
293023    1083a    0416a       0
293024    1083a    1224b       0
293025    1083a    0302b       0
293026    1125b    0416a       0
293027    1125b    1224b       0
293028    1125b    0302b       0
293029    0416a    1224b       0
293030    0416a    0302b       0
293031    1224b    0302b       0

[293032 rows x 3 columns]

In [5]:
labeled_data = pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/diffn_pairs.csv")
labeled_data = pd.concat([labeled_data, pd.read_csv("./HumanObserved-Dataset/HumanObserved-Features-Data/same_pairs.csv")])
labeled_data.shape

(293823, 3)

In [11]:
a = img_features["img_id_A"] + img_features["img_id_B"]
b = labeled_data["img_id_A"] + labeled_data["img_id_B"]
img_features[a.isin(b)]

,img_id_A,f1_A,f2_A,f3_A,f4_A,f5_A,f6_A,f7_A,f8_A,f9_A,img_id_B,f1_B,f2_B,f3_B,f4_B,f5_B,f6_B,f7_B,f8_B,f9_B
1,0359a,2,1,1,0,2,2,0,2,2,0577a,2,1,1,0,2,2,0,1,2
2,0359a,2,1,1,0,2,2,0,2,2,1120a,2,1,1,3,2,2,0,2,2
3,0359a,2,1,1,0,2,2,0,2,2,1120b,1,1,1,0,2,2,0,2,2
4,0359a,2,1,1,0,2,2,0,2,2,1120c,2,1,1,0,2,2,0,0,2
5,0359a,2,1,1,0,2,2,0,2,2,1121a,2,1,1,3,2,2,0,1,2
6,0359a,2,1,1,0,2,2,0,2,2,1121b,2,1,1,0,2,2,0,3,2
7,0359a,2,1,1,0,2,2,0,2,2,1121c,1,1,1,0,2,2,0,1,2
8,0359a,2,1,1,0,2,2,0,2,2,1229b,1,1,1,3,2,2,0,2,2
9,0359a,2,1,1,0,2,2,0,2,2,1302a,2,1,1,3,2,2,0,0,2
10,0359a,2,1,1,0,2,2,0,2,2,1302b,3,1,1,0,2,2,0,2,2
11,0359a,2,1,1,0,2,2,0,2,2,1302c,2,1,1,3,2,2,0,3,2
12,0359a,2,1,1,0,2,2,0,2,2,1305a,1,1,1,0,2,2,0,0,2
13,0359a,2,1,1,0,2,2,0,2,2,1305b,2,1,1,0,2,2,1,2,2
14,0359a,2,1,1,0,2,2,0,2,2,1305c,1,1,1,3,2,2,0,1,2
15,0359a,2,1,1,0,2,2,0,2,2,1386a,1,1,1,0,2,2,0,3,2
16,0359a,2,1,1,0,2,2,0,2,2,1386b,3,1,1,0,2,2,0,1,2
17,0359a,2,1,1,0,2,2,0,2,2,1386c,3,1,1,3,2,2,0,2,2
18,0359a,2,1,1,0,2,2,0,2,2,1391c,2,1,1,0,2,2,1,1,2
19,0359a,2,1,1,0,2,2,0,2,2,1489a,1,1,1,3,2,2,0,0,2
20,0359a,2,1,1,0,2,2,0,2,2,1489b,2,1,1,3,2,2,1,2,2
21,0359a,2,1,1,0,2,2,0,2,2,1517a,2,1,1,1,2,2,0,2,2
22,0359a,2,1,1,0,2,2,0,2,2,1517b,1,1,1,3,2,2,0,3,2
23,0359a,2,1,1,0,2,2,0,2,2,0331b,3,1,1,0,2,2,0,0,2
24,0359a,2,1,1,0,2,2,0,2,2,0367a,2,1,1,0,2,2,0,4,2
25,0359a,2,1,1,0,2,2,0,2,2,0367b,1,1,1,0,2,2,1,2,2
26,0359a,2,1,1,0,2,2,0,2,2,0367c,3,1,1,3,2,2,0,1,2
27,0359a,2,1,1,0,2,2,0,2,2,0379b,3,1,1,0,2,2,0,3,2
28,0359a,2,1,1,0,2,2,0,2,2,0458a,2,1,1,0,2,2,1,0,2
29,0359a,2,1,1,0,2,2,0,2,2,0565a,2,1,1,3,2,2,1,1,2
30,0359a,2,1,1,0,2,2,0,2,2,0565b,2,1,1,0,2,2,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044466,0434a,3,0,0,2,0,3,3,0,2,1224b,2,4,2,4,3,3,3,4,2
1044467,0434a,3,0,0,2,0,3,3,0,2,0302b,2,2,2,4,3,3,3,4,2
1045487,0555a,1,4,0,2,0,2,3,4,1,1165c,3,0,2,4,0,2,3,2,2
1045488,0555a,1,4,0,2,0,2,3,4,1,0380b,1,3,2,3,3,2,0,2,2
1045489,0555a,1,4,0,2,0,2,3,4,1,1083a,0,4,2,4,2,3,1,1,1
1045490,0555a,1,4,0,2,0,2,3,4,1,1125b,1,1,2,4,3,2,1,2,1
1045491,0555a,1,4,0,2,0,2,3,4,1,0416a,1,1,2,4,3,2,1,1,1
1045492,0555a,1,4,0,2,0,2,3,4,1,1224b,2,4,2,4,3,3,3,4,2
1045493,0555a,1,4,0,2,0,2,3,4,1,0302b,2,2,2,4,3,3,3,4,2
1046514,1165c,3,0,2,4,0,2,3,2,2,0380b,1,3,2,3,3,2,0,2,2
1046515,1165c,3,0,2,4,0,2,3,2,2,1083a,0,4,2,4,2,3,1,1,1
1046516,1165c,3,0,2,4,0,2,3,2,2,1125b,1,1,2,4,3,2,1,2,1
1046517,1165c,3,0,2,4,0,2,3,2,2,0416a,1,1,2,4,3,2,1,1,1
1046518,1165c,3,0,2,4,0,2,3,2,2,1224b,2,4,2,4,3,3,3,4,2
1046519,1165c,3,0,2,4,0,2,3,2,2,0302b,2,2,2,4,3,3,3,4,2
1047541,0380b,1,3,2,3,3,2,0,2,2,1083a,0,4,2,4,2,3,1,1,1
1047542,0380b,1,3,2,3,3,2,0,2,2,1125b,1,1,2,4,3,2,1,2,1
1047543,0380b,1,3,2,3,3,2,0,2,2,0416a,1,1,2,4,3,2,1,1,1
1047544,0380b,1,3,2,3,3,2,0,2,2,1224b,2,4,2,4,3,3,3,4,2
1047545,0380b,1,3,2,3,3,2,0,2,2,0302b,2,2,2,4,3,3,3,4,2
1048568,1083a,0,4,2,4,2,3,1,1,1,1125b,1,1,2,4,3,2,1,2,1
1048569,1083a,0,4,2,4,2,3,1,1,1,0416a,1,1,2,4,3,2,1,1,1
1048570,1083a,0,4,2,4,2,3,1,1,1,1224b,2,4,2,4,3,3,3,4,2
1048571,1083a,0,4,2,4,2,3,1,1,1,0302b,2,2,2,4,3,3,3,4,2
1049595,1125b,1,1,2,4,3,2,1,2,1,0416a,1,1,2,4,3,2,1,1,1
1049596,1125b,1,1,2,4,3,2,1,2,1,1224b,2,4,2,4,3,3,3,4,2
1049597,1125b,1,1,2,4,3,2,1,2,1,0302b,2,2,2,4,3,3,3,4,2
1050622,0416a,1,1,2,4,3,2,1,1,1,1224b,2,4,2,4,3,3,3,4,2
1050623,0416a,1,1,2,4,3,2,1,1,1,0302b,2,2,2,4,3,3,3,4,2
1051649,1224b,2,4,2,4,3,3,3,4,2,0302b,2,2,2,4,3,3,3,4,2